/*specification*/

.body{    
    font-family: "Prompt Regular", sans-serif;
    font-size: 15px;    
    color: #000000;
    background: #FFF6EF;     
}

div.container{
    width: 1110px;
    padding: 0;
}

li{
    list-style: none;
}

h1{
    font-size: 30px;
    font-weight: 500;
}

/*header*/

.header{
    height: 60px;
    display: flex;
    align-items: center;
}

.logo{    
    width: 32px;
    height: 32px;
    display: block;
    background: url("../img/logo.png");
}

.menu-list{
    display: flex;
    gap: 70px;    
    margin: 0px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu-item>a{
    font-family: "Promt", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: black;
    text-decoration: none;    
}

.menu-item:hover{
    text-decoration: underline;
}

.btn-progress>button{
    width: 100%;
    height: 40px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #6A9B96;
    border: none;
    border-radius: 10px;
}

.btn-progress>button:hover{
    background-color: #C3D2CB;
}

/*carousel-section*/

.carousel-section{
    padding-top: 70px;
}

.slide{
    height: 600px;
}

.slider-wrapper{
    height: 640px;
}

.carousel-indicators{
    top: 620px;
}

.carousel .carousel-indicators [data-bs-target]{
    width: 13px;
    height: 16px;
    margin-right: 16px;
    background-color: #6A9B96;
}

span.carousel-control{    
    width: 50px;
    height: 50px;
    margin: 20px;
}

button.carousel-control-prev{
    display: flex;    
    justify-content: start;
    opacity: 1;
}

button.carousel-control-next{
    display: flex;    
    justify-content: end;
    opacity: 1;   
}

/*modal-tabs-section*/

.modal-tabs-title{
    margin-bottom: 75px;
    font-size: 30px;
    font-weight: 300;
}

.modal-dialog{    
    max-width: 630px;
    height: 350px;     
}

.modal-content{
    border-radius: 20px;
}

.modal-header{
    border-bottom: none;
}

h5.modal-title{
    padding: 40px 0 0 209px;    
    font-size: 30px;    
}

.modal-body{        
    padding: 38px 119px 65px 119px;
}

.modal-header button.btn-close{
    width: 32px;
    height: 32px;
    background-size: 24px;
    padding: 0;
    margin-top: -40px;
    margin-right: 0;    
}

.btn-modal{
    width: 446px;
}

.btn-modal > .btn{    
    width: 100%;
    height: 100px;
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    background: #FBDCC7;
    border: none;        
    border-radius: 20px;
}

.btn-modal > .btn:hover{
    color:#000000;
    background: #f8c19d;
}

.modal-tabs-section{
    padding-top: 120px;
}

.nav-link{    
    width: 139px;
    height: 50px;       
}

li.nav-item > a.nav-link.active{
    background-color: #6A9B96;
    border-radius: 20px 20px 0px 0px;
    border-color: #6A9B96;
}

a.nav-link{
    padding-top: 14px;
    text-align: center;    
    color: #000000;
}

.tab-content{
    width: 635px;
}

.tab-pane{
    width: 100%;
    height: 198px;
    background: #C3D2CB;
    border-radius: 0 0 20px 20px;
}

.tab-text{        
    padding: 58px 116px 56px 34px;
    letter-spacing: 0.0em;
}

.tab-text > span{
    font-weight: 600;
}

/*accordion-section*/

.accordion-title{
    margin-bottom: 92px;
    font-size: 30px;
    font-weight: 300;
}

.accordion-section{
    padding-top: 120px;
}

.accordion-wrapper{
    padding: 13px;
}

.accordion-item{
    border: 0;    
}

h2.accordion-header{
    height: 50px;    
}

.accordion-body{
    height: 142px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.008em;
}

.accordion-item{
    border-radius: 20px;
}

button.accordion-button.accordion-btn{
    color: #000000;    
    background: #FBDCC7;
            
}

.accordion{
    --bs-accordion-border-radius: 20px;
    --bs-accordion-inner-border-radius: 20px;
}

button.third-btn{
    border-radius: 0;
}

button.second-dtn{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

button.accordion-btn:hover{
    font-weight: 600;
    color: #052c65;
}

/*footer*/

.footer{
    margin-top: 120px;
    padding: 25px 0;
}


@font-face {
    font-family: "Prompt Regular";
    src: url("../fonts/prompt/Prompt-Regular.ttf");
    font-weight: 400;
  }